<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fa fa fa-dashboard"></i> <span>داشبرد</span>
                </a>
            </li>
            <li>
                <a href="../admin/Category">
                    <i class="fa fa-th"></i> <span>مدیریت دسته بندی ها</span>
                </a>
            </li>
            <li>
                <a href="../admin/Post">
                    <i class="fa fa-edit"></i> <span>مدیریت پست ها</span>
                </a>
            </li>
        </ul>
    </section>
</aside>